// --------------------------------------------------

pre.json-highlight

  outline: 1px solid #ccc
  padding: 5px
  margin: 5px

  .key
    color: blue
  .string
    color: darkcyan
  .number
    color: darkorange
  .boolean
    color: brown
  .null
    color: magenta

// --------------------------------------------------

// ----------------------------------------------------------------------
/// Local Variables:
/// eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer))
/// End:
