$login-focused-color: #4285f4

#login

  width: 20em;
  height: 20em;
  padding: 2em;

  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

  .title
    font: 32px Helvetica,Arial,sans-serif
    font-weight: bold
    margin-bottom: 2em
    color: orange

  input
    border: none
    width: 100%
    font: 400 16px Helvetica,Arial,sans-serif

    &:focus
      outline: none

  div.separator
    background-color: rgba(0,0,0,0.12)
    height: 1px
    width: 100%
    margin-bottom: 2em

  div.separator-focused
    background-color: $login-focused-color
    height: 2px
    transition: 0.2s

  div.label-focused
    color: $login-focused-color
    transition: 0.2s

  .button
    margin-left: auto
    width: 4em;
    background-color: $login-focused-color
    color: white
    font-size: 1.2em;
    padding: 0.2em 0.2em;
    text-align: center;
    font-weight: bold
    cursor: pointer

// ----------------------------------------------------------------------
/// Local Variables:
/// eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer))
/// End:
