body {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------- */

.box-shadow-popup {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.box-shadow-button {
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
}

/* ---------------------------------------------------------------------- */
/* Header  */

div.acmacs-web-header {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    margin: 0 0 0.5em 0;
    padding: 0;
}

div.acmacs-web-header .acmacs-web-title {
    padding: 0.2em 1em;
    font-weight: bold;
    font-size: 1.2em;
    float: left;
}

div.acmacs-web-header .acmacs-web-user {
    padding-top: 0.4em;
    margin-right: 1em;
    float: right;
}

/* ---------------------------------------------------------------------- */

.ads-id-popup {
    cursor: pointer;
    font-size: 0.5em;
    font-weight: normal;
    text-decoration: underline dotted;
    -webkit-text-decoration: underline dotted;
}

/* ---------------------------------------------------------------------- */
/* Login  */

#login {
    width: 20em;
    height: 20em;
    padding: 2em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#login .title {
    font: 32px Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin-bottom: 2em;
    color: $aw-orange;
}

#login input {
    border: none;
    width: 100%;
    font: 400 16px Helvetica,Arial,sans-serif;
}

#login input:focus {
    outline: none;
}

#login div.separator {
    background-color: rgba(0,0,0,0.12);
    height: 1px;
    width: 100%;
    margin-bottom: 2em
}

#login form div.separator-focused {
    background-color: #54964e;
    height: 2px;
    transition: 0.2s;
}

#login div.label-focused {
    color: #54964e;
    transition: 0.2s;
}

#login .button {
    margin-left: auto;
    width: 4em;
    background-color: #54964e;
    color: white;
    font-size: 1.2em;
    padding: 0.2em 0.2em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#login .error-message {
    color: red;
    margin-top: 1em;
}

/* ---------------------------------------------------------------------- */
/* Chains */

.chains ul.chains-virus-types {
    list-style-type: none;
    margin: 0 0.5em;
    padding: 0;
}

.chains ul.chains-virus-types > li {
    padding: 0.5em;
}

.chains .chains-virus-types .chains-virus-type-name {
    font-weight: bold;
    color: #800000;
    font-size: 1.5em;
}

.chains .chains-virus-types .chains-labs {
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
}

.chains .chains-virus-types .chains-labs .chains-lab-name {
    font-weight: bold;
    color: #000080;
    font-size: 1.2em;
    margin-top: 0.5em;
}

.chains .chains-virus-types .chains-labs .chains-chains {
    margin-top: 0.5em;
}

.chains .chains-virus-types .chains-labs .chains-chains > li {
    margin-bottom: 0.5em;
}

.chains .chain-list li {
    margin-top: 0.5em;
}

.chains span.chain-state {
    padding-right: 0.5em;
}

.chains span.chain-state-FAILED {
    color: red;
}

.chains span.chain-state-handling {
    color: blue;
}

.chains span.chain-state-waiting {
    color: blue;
}

.chains span.chain-type {
}

.chains span.chain-name {
    padding-left: 1em;
    font-weight: bold;
}

.chains span.chain-tables {
    padding-left: 1em;
}

.chains .chains-virus-types .chains-labs .chains-chains a {
    color: black;
}

.chains .chains-virus-types .chains-labs .chains-chains .chains-chain-keyword-whocc a {
    color: green;
}

.chains .chains-virus-types .chains-labs .chains-chains .chains-chain-keyword-degraded a {
    color: #808080;
}

.chains .chains-chain-id {
    padding-left: 0.5em;
}

.chains .chains-chain-m {
    cursor: pointer;
    padding-left: 0.5em;
    color: #008000;
}

.chains .chains-chain-m-older-one-month {
    color: #800000;
}

.chains .chains-chain-m-older-six-months {
    color: black;
}

.chains .chains-chain-fork-of {
    padding-left: 1em;
}

.chains .chains-chain-fork-at {
    color: #000080;
}

.chains .chains-chain-fork-of-prefix {
    /* padding-right: 1em; */
}


/* ---------------------------------------------------------------------- */
/* Chain */

.acmacs-web-title .chain-date {
    padding-left: 1em;
    color: #004000;
}

.acmacs-web-title .chain-date .chain-begin-date {
}

.acmacs-web-title .chain-date .chain-end-date {
}

.acmacs-web-title .chain-date .chain-date-dash {
    display: none;
    padding: 0.1em;
}

.acmacs-web-title .chain-id {
    padding-left: 0.5em;
}

/* ul.chain { */
/*     list-style-type: none; */
/*     margin: 0 0.5em; */
/*     padding: 0; */
/* } */

table.chain {
    border-spacing: 0.5em 1em;
}

table.chain > tr > td {
}

.chain .chain-title-row {
    white-space: nowrap;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
}

.chain .chain-title-row a {
    color: black;
}

.chain .chain-title-row .chain-step-no {
}

.chain .chain-title-row .chain-step-title {
    padding-left: 0.5em;
}

.chain .chain-title-row .chain-step-id {
    padding-left: 0.5em;
}

/* ul.chain > li { */
/*     margin: 0.5em 0; */
/*     padding: 0.3em; */
/*     display: inline-block; */
/* } */

/* ---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------
Local Variables:
eval: (if (fboundp 'eu-rename-buffer) (eu-rename-buffer))
End: */
